
/* importing Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.poppins-font {
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

/* shared styles */

.btn-primary {
    color: #fff;
    font-size: 1.06rem;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 41px;
    border: 2px solid rgb(224, 44, 109);
    background: rgb(224, 44, 109);
    transition: all 0.4s ease-in-out;
}

.btn-primary:hover {
    background: transparent;
    color: rgb(224, 44, 109);
}


/* Header section */

/* navbar section styles */
header {
    max-width: 1280px;
    margin: 50px auto;
    max-height: 100vh;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    font-size: 1.75rem;
    color: rgb(58, 58, 58);
    font-weight: 700;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-weight: 600;
    margin-right: 34px;
    transition: all .4s ease-in-out;
}

.nav-link:hover {
    color: rgb(224, 44, 109);
}

/* Banner section styles */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 130px;
    margin: 150px 0;
}

.brand span, .banner-title span {
    color: rgb(224, 44, 109);
}

.banner-txt {
    width: 50%;
}

.banner-title {
    font-size: 3.25rem;
    font-weight: 700;
    color: rgb(58, 58, 58);
    margin-bottom: 20px;
}

.banner-description {
    color: rgb(58, 58, 58);
    font-weight: 600;
    margin-bottom: 30px;
}

.banner-img {
    position: relative;
}

.bg-circle {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    /* object-fit: contain; */
    z-index: -1;
}

.camera-img {
    width: 100%;
}
























